.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 40px;
  background:#1f2937;
  position:sticky;
  top:0;
  border-bottom:1px solid rgba(255,255,255,0.05);
  z-index: 1000;
}

.logo{
  color:white;
  font-family:"Poppins",sans-serif;
  font-weight:600;
}

.links{
  display:flex;
  gap:30px;
}

.link{
  text-decoration:none;
  color:#ddd;
  font-size:18px;
  font-family:"Inter",sans-serif;
  position:relative;
  transition:0.3s;
}

.link:hover{
  color:#ff6600;
}

/* active link */
.active{
  color:#ff6600;
  font-size: 18px;
   font-family:"Inter",sans-serif;
}

/* underline indicator */
.link::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-6px;
  width:0%;
  height:2px;
  background:#ff6600;
  transition:0.2s;
}

.link:hover::after{
  width:100%;
}

.active::after{
  width:100%;
}

/* hamburger hidden on desktop */
.hamburger{
  display:none;
  font-size:28px;
  color:white;
  cursor:pointer;
}

/* MOBILE */
@media (max-width:768px){

  .hamburger{
    display:block;
  }

  .links{
    position:absolute;
    top:80px;
    left:0;
    width:100%;
   
     background:#1f2937;

    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:20px 0;

    opacity:0;
    transform:translateY(-20px);
    transition:0.3s;

    display:flex;
  }

  .showMenu{
    opacity:1;
    transform:translateY(0);
  }

}